.containerSection{
  margin: 2rem 0;
  border: none;
}
.cardBody{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content:center;
}
.titlePage{
  color:var(--lightPurpleW);
}

@media only screen and (max-width : 900px) {
    .title{
      font-size: 2rem;
    }
    .titlePage{
      font-size: 2rem;
    }
}