.mainImage{

}
.imageContainer{
    position: relative;
    display: inline-block;
}
.articleTitle{
    position: absolute;
    bottom: 0;
    right: 1rem;
}
.textContainer{
    margin: 1rem;
}

.textContainer h2 {
    font-size: 20px;
}