.containerSection{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 6rem;
    margin:1.4rem;
    height:60vh;
  }
  .title{
    color: #b76ff0;
    display:flex;
    margin-top:8rem;
    margin-left:2rem;
  }
  .text{
    color: #545454;
    font-size: 22px;
  }
  .imagesSection{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .image {
    width:30rem;
    height:32rem;
    padding: 2rem;
  }
  .imagesSection{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .imageContainer {
    width: 80px;
    height: 75px;
    position: relative;
  }
  .textSection{
    width: 50%;
    margin: 1rem;
  }
  .adnImage{
    width:100px;
    height: 40px;
    object-fit: contain;
  }
  .adnImgTxt{
    display: flex;
  }
  .line{
    border-bottom: 2px solid #ccc;
    display: block;
  }
  
  @media only screen and (max-width : 900px) {
    .title{
      font-size: 2rem;
    }
    .text{
      font-size: 1.2rem;
    }
    .imagesSection{
      width: 100%;
    }
    .image {
      width: 100%;
      height: 825px;
    }
    .logo{
      margin-top:10px;
      width:100px;
      height: 35px;
    }
    .containerSection{
      flex-direction: column;
      align-items: center;
    }
    .textSection{
      margin-top: 1rem;
    }
  }