.containerSection{
    display: flex;
    align-items:center;
    margin:1.4rem;
  }
  .title{
    color: #b76ff0;
    display:flex;
    margin:2rem;
  }
  .text{
    color: #545454;
    font-size: 22px;
  }
  .image {
     width: 400px;
     height: 550px;
  }
    .imagesSection{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  .logo{
    margin: 1rem;
    width:150px;
    height: 50px;
  }
  .textSection{
    margin: 1rem;
  }
  .adnImage{
    width:100px;
    height: 40px;
  }
  .adnImgTxt{
    display: flex;
  }
  .line{
    border-bottom: 2px solid #ccc;
    display: block;
  }
  
  @media only screen and (max-width : 900px) {
    .title{
      font-size: 2rem;
    }
    .text{
      font-size: 1.2rem;
    }
    .imagesSection{
      width: 100%;
    }
    .image {
      width: 100%;
      height: 825px;
    }
    .logo{
      margin-top:10px;
      width:100px;
      height: 35px;
    }
    .containerSection{
      flex-direction: column;
      align-items: center;
    }
    .textSection{
      margin-top: 1rem;
    }
  }