@font-face {
    font-family: "Everett-bold";
    src: url("../../styles/font/TWKEverett-Bold.otf");
    font-weight:800;
  }
  @font-face {
    font-family: "Everett-medium";
    src: url("../../styles/font/TWKEverett-Medium.otf");
    font-weight:800;
  }
  @font-face {
    font-family: "Everett-regular";
    src: url("../../styles/font/TWKEverett-Regular.otf");
    font-weight:800;
  }
  .cont-main-section{
    font-family: "Everett-medium";
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin: 0 2rem;
  }
  .txt-title-section{
    color: var(--strong-purple);
    font-size: 4rem;
    font-family: Everett-bold;
  }
  .cont-main-section-one{
    background-color:var(--background-light);
    margin: 2rem 0;
  }
  .txt-title{
    color: var(--strong-purple);
    font-size: 3.4rem;
    font-family: Everett-medium;
  }
  .txt-text{
    color: var(--strong-purple);
    font-size: 2rem;
    font-family: Everett-regular;
  }