.container{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}
.navbarLogo{
    width: 140px;
    height: 40px;
}
@media only screen and (max-width : 900px) {
    .navbarLogo{
    width:120px;
    height:40px;
}
}