.containerSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  .title{
    color: #b76ff0;
    display:flex;
  }
  .textSection{
    width: 50%;
  }
  .text{
    color: #545454;
    display:flex;
    align-content: flex-start;
  }

  @media only screen and (max-width : 900px) {
  .title{
    font-size: 2rem;
  }
  .text{
    font-size: 1.2rem;
  }
  .textSection{
    width: 100%;
  }
  .imagesSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .image {
    padding: 0;
  }
  .containerSection{
    flex-direction: column;
    align-items: center;
  }
  }