.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    min-height: 16vh;
    background-color: black;
}
.logoW{
    width: 2rem;
    heigth: 2rem;
}
.text{
    color: var(--greenOne);
    justify-content: center;
    font-size: 2rem;
}
.logosSocial {
    display: flex;
}
.iconSocial{    
    margin:0.8rem
}
@media only screen and (max-width : 900px) {
    .container{
        flex-direction: column;
        justify-items:center;
        align-items: center;
    }
}