.containerSection{
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 6rem;
  margin:1.4rem;
  height:60vh;
}
.cardsSection{
  display: flex;
}
.title{
  color: #b76ff0;
  display:flex;
  margin-top:8rem;
  margin-left:2rem;
}
.text{
  color: #545454;
}
@media only screen and (max-width : 900px) {
  .containerSection{
    flex-direction: column;
    align-items: center;
  }
  .cardsSection{
    flex-direction: column;
  }
  .title{
     font-size: 2rem;
  }
  .text{
    font-size: 1.2rem;
  }
  .image {
    width: 320px;
    height: 220px;
  }
}