.containerSection{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin:1.4rem;
  }
  .cardsSection{
    display: flex;
  }
  .title{
    color: #545454;
    display:flex;
    margin:2rem;
  }
  .text{
    color: #545454;
  }

  
  @media only screen and (max-width : 900px) {
      .title{
        font-size: 2rem;
      }
      .text{
        font-size: 1.2rem;
      }
      .image {
        width: 320px;
        height: 220px;
    }
  }