.containerSection{
  display: flex;
  align-items:center;
  justify-content: center;
  margin:1.4rem;
  }
.textSection{
  width: 50%;
  display: flex;
	flex-direction: column;
	align-items: center;
}
.title{
  font-size: 2.4rem;
  font-family: "Everett";
  font-weight:400;
  color:#545454;
}
.imagesSection{
  width: 50%;
  display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.image {
  width:100%;
  height: 100%;
  padding: 2rem;
}
@media only screen and (max-width : 900px) {
  .containerSection{
    width: 100vw;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }
  .title{
    font-size: 2rem;
  }
  .textSection{
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .text{
    font-size: 1.2rem;
  }
  .imagesSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .image {
    width:100%;
    height: 100%;
    padding: 2rem;
  }
}