.containerSection{
  display: flex;
  align-items:center;
  justify-content: center;
  margin:1.4rem;
  height:60vh;
}
.title{
  color: #b76ff0;
  display:flex;
  margin-top:8rem;
  margin-left:2rem;
}
.textSection{
  width: 50%;
  margin-left:2rem;
}
.text{
  color: #545454;
  font-size: 1.4rem;
}
.imagesSection{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.image {
  width:80%;
  height:36rem;
  padding: 2rem;
}
.logo{
  margin: 1rem;
  width:150px;
  height: 50px;
}
  
  @media only screen and (max-width : 900px) {
    .title{
      font-size: 2rem;
    }
    .text{
      font-size: 1.2rem;
    }
    .imagesSection{
      width: 100%;
    }
    .image {
      width: 100%;
      height: 825px;
    }
    .logo{
      margin-top:10px;
      width:100px;
      height: 35px;
    }
    .containerSection{
      flex-direction: column;
      align-items: center;
    }
  }